@import "../../global/color.scss";

#CardContainer {
  width: 250px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(235, 235, 240);
  img {
    width: 100%;
  }
  p {
      text-align: center;
      :first-child {
        font-weight: 700;
      }
  }

  .cardInfo {
    display: flex;
    // background-color: red;
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #666;

    span {
      margin: 0 5px;
    }
  }
}
