@import "../../global/color.scss";

header {
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: center;
  background-color: #aec5db;


  .seachSection {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    h1 {
    }
    h3 {
    }
    .inputArea {
      display: flex;
      justify-content: center;
    }
  }
}
